#product-page {
    max-width: 95%;
    margin: auto;
    background: black;
    color: aquamarine;
  }
  
  #product-page p {
    margin: 0;
  }
  
  #product-page img {
    max-width: 100px;
    max-height: 100px;
  }
  
  #product-page .alert {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }